/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
 
 section#wrapper {background: linear-gradient(palegreen, darkseagreen, palegreen);}
 
 nav.header-nav{
 	background: #81c784;
 }
 
 
 nav .row .blockcart{
 	background: LightGreen !important;
 }
 
 #header
 {
 	background: springgreen;
 }
 
.header-top
 {
 	background: springgreen;;
 }
 
 nav .row
 {
 	background: #81c784;
 }
 
 #footer
 {
 	background: #81c784;
 }
 
 .category-cover
 {
 	vertical-align: middle;
 }
 
 .block-category
 {
 	min-height: 5rem;
 }

 
